apiVersion: apps/v1
kind: Deployment
metadata:
  # Unique key of the Deployment instance
  name: config-file-app
spec:
  # 3 Pods should exist at all times.
  replicas: 2
  selector:
    matchLabels:
      app: node-app
  template:
    metadata:
      labels:
        # Apply this label to pods and default
        # the Deployment label selector to this value
        app: node-app
    spec:
      containers:
      - name: nginx
        # Run this image
        image: shettysagar272/k8s:express_demo_V1